{% extends 'base/base.html' %}

{% block title %}Motherland Leaderboard{% endblock %}

{% block style %}
<link rel="stylesheet" href="/assets/css/leaderboard.css">
{% endblock %}

{% block script %}
<script type="text/babel" src="/assets/js/leaderboard.js">
</script>
{% endblock %}

{% block content %}
<div id="app" style="display: none"></div>
<image id="img"></image>
<script>
  function parse(obj){
    return obj;
  }
</script>
<script>
  function n(){
    $.ajax({
      "url": "/lbs"
    }).then((data) => {
      setTimeout(window.updatedc, 0, data);
    });
  }
  window.n = n;
</script>
<script type="text/python">
  from browser import window, aio
  import random
  import javascript
  dc = []
  def update_dc(lst):
    global dc
    arrs = []
    for x in range(0, len(lst)):
      arrs.append({"id": x+1, "name": lst[x][0], "score": lst[x][1]})
    dc = arrs.copy()
    window.setTimeout(window.n, 1000)
  window.updatedc = update_dc
  print("UPDATEDC")
  window.setTimeout(window.n, 0)
  def update_leaderboard():
    global dc
    rdict = {"success": True}
    rdict["leaders"] = dc.copy()
    #rdict["leaders"].sort(key=lambda x: x["score"], reverse=True)
    rdict["maxScore"] = 200
    
    return window.parse(rdict)
  window.datUpload = update_leaderboard
  window.jQuery("#app").show()
  

</script>
{% endblock %}