<!doctype html>
<html>
  <head>
    <script>
      var assets_url = "{{ assets }}";
    </script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
</script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
</script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="{{ local_assets }}/js/htmlToImage.min.js" type=text/javascript></script>
    <script crossorigin src="{{ local_assets }}/js/cryptojs.js" type=text/javascript></script>
    <script crossorigin src="https://unpkg.com/bn.js@4.11.8/lib/bn.js" type="text/javascript"></script>
    <script crossorigin src="{{ local_assets }}/js/noble-secp256k1.js" type=text/javascript></script>
    <script crossorigin src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
    <script src="https://pixijs.download/release/pixi.js"></script>
    <script crossorigin src="{{ local_assets }}/js/pixi-svg.js" type=text/javascript></script>
    <script crossorigin src="{{ local_assets }}/js/countdown.js" type=text/javascript></script>
    <script crossorigin src="{{ local_assets }}/js/splitonlast.js" type=text/javascript></script>
    <script src="https://cdn.jsdelivr.net/npm/pixi-filters@latest/dist/pixi-filters.js"></script>
    <script>
      window.addEventListener("load",function() {
      setTimeout(function(){
          // This hides the address bar:
          window.scrollTo(0, 1);
      }, 0);
    });
    function ActiveQ(){
      return document.hasFocus() && (!document.hidden);
      // return !document.hidden;
    }
    function convert_word_array_to_uint8Array(wordArray) {
      var len = wordArray.words.length,
          u8_array = new Uint8Array(len << 2),
          offset = 0, word, i
      ;
      for (i=0; i<len; i++) {
          word = wordArray.words[i];
          u8_array[offset++] = word >> 24;
          u8_array[offset++] = (word >> 16) & 0xff;
          u8_array[offset++] = (word >> 8) & 0xff;
          u8_array[offset++] = word & 0xff;
      }
      return u8_array;
    }
    function make_keypair(){
      var pkey = nobleSecp256k1.utils.randomPrivateKey();
      var bkey = nobleSecp256k1.Point.fromPrivateKey(pkey);
      return [BigInt("0x"+nobleSecp256k1.utils.bytesToHex(pkey)), [bkey.x, bkey.y]];
    }
    function exchange(pkey, rkey){
      return (new nobleSecp256k1.Point(rkey.x, rkey,y)).multiply(pkey).x;
    }
    function getCookieValue(name){
      return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    }
    </script>
    <script type="text/python">
      from browser import window
      window.execpy = lambda x: exec(x, globals(), locals())
    </script>
    <link rel="stylesheet" href="{{ local_assets }}/css/fonts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    {%block script %}{% endblock %}
    <style>
      body {
        font-family: ComicMono;
      }
    </style>
    {%block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body onload='brython({"debug":1})'>
    {% block content %}{% endblock %}
  </body>
</html>