{% extends 'base/base.html' %}

{% block title %}end of the game{% endblock %}

{% block style %}
<style>
  body {
    margin: 0px;
    background-image:url("{{ assets }}/images/image_MM.jpeg");
    background-color:#F201A8;
  }
  video {
    pointer-events: none;
  }
  video::-webkit-media-controls {
    display: none;
  }
  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    overflow: hidden;
  }
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .centralize {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    transform: translate(-50%, -50%);
  }
  .content_container {
  background-color:rgba(220,226,212,0.7);
  border-radius: 20px;
  margin: 50px auto 20px auto;
  padding: 50px;
  line-height: 30px;
  width: 800px;
}

</style>
{% endblock %}
{% block script %}
<script src="{{ local_assets }}/js/question_fetcher.js"></script>
{% endblock %}

{% block content %}
<div id="container" class="noselect" >
  
  <div id="mainzone" style="height: 100%; width: 100%;display:none ; border: none; margin: auto; background-image: url({{ assets }}/images/eim.png); background-size: cover;">
    <!-- <video muted loop style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <source src="https://images.theconversation.com/files/223729/original/file-20180619-126566-1jxjod2.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop">
    </video> <- Keep this, someone's job-->
  </div>
  </div>
</div>
<script>
  window.pDone = false;
  var knowing = false;
  $("#mainzone").hide();
  function chan(){
    if (document.documentElement.clientHeight / 3 > document.documentElement.clientWidth / 4){
      $("#container").css("width", "100vw");
      $("#container").css("height", (3/4*100) + "vw");
    } else {
      $("#container").css("width", (4/3*100)+"vh");
      $("#container").css("height","100vh");
    }
  }
  var resizeObserver = new ResizeObserver(chan);
  resizeObserver.observe(document.body);
  chan();
  if ({{ cg }}){
      var v = $("<video class='centralize' muted>").append(
        $("<source>").prop("src", "{{ assets }}/video/Games/game3/final.mp4")
      ).attr("id", "sv");
      if (document.documentElement.clientHeight / 9 <= document.documentElement.clientWidth / 16){
        v.css("width", "65vw");
      } else {
        v.css("height", "90vh");
      }
      $("#container").append(v);
      v[0].play();      
      
  }
  {% if cg=="true" %}
  v[0].addEventListener('ended', function (event){
    v.remove();
  {% endif %}
    window.pDone = true;
    $("#mainzone").show();
  {% if cg=="true" %}
  }, false);
  {% endif %}
  function g(){
    if (!pDone){
      setTimeout(g, 100);
    } else {
      $.ajax({
        "url": "/apis/game3/notify"
      }).then(function (){
        knowing = true;
      }, () => {setTimeout(g, 1)});
    }
  }
  setTimeout(g, 1);
</script>

{% endblock %}
