
{% extends 'base/base.html' %}

{% block title %}Game 1{% endblock %}

{% block style %}
<style>
  video {
    pointer-events: none;
  }
  video::-webkit-media-controls {
    display: none;
  }
  body {
    background: url(https://media.istockphoto.com/id/146864795/zh/%E7%85%A7%E7%89%87/terracotta-army.jpg?s=612x612&w=0&k=20&c=FDH0FlxugQ33_hy8X8GvTgUiBPzDp1Vc07EK-YHidAE=);
    margin: 0px;
    background-size:cover
  }
  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    margin: 0px;
    overflow: hidden;
  }
  #sv {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
  }
  .dab {
    filter: brightness(0.7);
  }
  .btns {
    /* display: table-cell; */
    display: flex;
    /* vertical-align: middle; */
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    overflow-y: auto;
  }
  .abut:hover {
    filter: brightness(1.1);
  }
  .abut:active {
    filter: brightness(0.9);
  }
  .activ {
    filter: brightness(1.2);
  }
  .activ:active {
    filter: brightness(0.9);
  }
  .correct {
    filter: brightness(1.2);
    color: green !important;
  }
  .wrong {
    filter: brightness(0.5) !important;
    transition: filter 0.25s;
    color: red !important;
  }
  .wrong_nonexplict {
    filter: brightness(0.8);
  }
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .inner_class {
    width: 20vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #btnconfirm {
    justify-content: center;
  }
</style>
{% endblock %}
{% block script %}
<script src='/dynamic/g1dynam.js?hx={{ hx }}'></script>
<script src="{{ local_assets }}/js/question_fetcher.js"></script>
{% endblock %}

{% block content %}
<div id="container" class="noselect" style = "background-color:rgba(194, 141, 29, 0.8)">
  <div id="mainzone" style="height: 80%; width: 80%; display: none; border: none; margin: auto;">
    <div id="outer_containner" style="height: 15%; width: 95%; display: flex; background-color: yellow;border-radius:15px;margin:10px;position:center;border: 10px ridge rgba(128,121,126,1);">
      <div id="question_container" style="height: 100%; width: calc(100% - 12vh); overflow: hidden ;margin: 5px;text-align: center; margin-right: 0px;font-size:30px">
      Question Here
      </div>
      <div id="countdown_container" style="height: 100%; width: 12vh; margin-left: 0px">
      </div>
    </div>
    <div id="cg_container" style="height: 60%; width: 100%; background-image: url({{ assets }}/images/questionbox.png);background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center; overflow: hidden">
    </div>
    <strong  id= "demo" onclick = "myFunction()"style= "text-align:center; color : white">⚠️ If the size of the webpage doesn't fit your browser window, please scroll the browser bar to the top and zoom out. <sub>(click to remove)</sub> </strong>
    <table id="table" style="height: 30%; width: 100%">
      <tbody>
        <tr>
          <td style="padding: 0; padding-top: 0.5%; padding-left: 0px; width: 50%;">
            <div style="display: table; height: 100%; width: 100%">
              <div id="btn1" class="btns abut" style="background-image: url({{ assets }}/images/hat.png); background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center;font-size: 30px;color:white;">
                <div id="inner1" class='inner_class'>
                  1
                </div>
</div>
            </div>
          </td>
          <td style="padding: 0; padding-top: 0.5%; padding-right: 0px; width: 50%;">
            <div style="display: table; height: 100%; width: 100%">
              <div id="btn2" class="btns abut" style="background-image: url({{ assets }}/images/cat.png); background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center;font-size: 30px;color:white;">
                <div id="inner2" class='inner_class'>
                  2
                </div>
</div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 0; padding-bottom: 0.5%; padding-left: 0px; width: 50%;">
            <div style="display: table; height: 100%; width: 100%">
              <div id="btn3" class="btns abut" style="background-image: url({{ assets }}/images/rat.png); background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center;font-size: 30px;color:white;">
                <div id='inner3' class='inner_class'>
                  3
                </div>
</div>
            </div>
          </td>
          <td style="padding: 0; padding-bottom: 0.5%; padding-right: 0px; width: 50%;">
            <div style="display: table; height: 100%; width: 100%">
              <div id="btn4" class="btns abut" style="background-image: url({{ assets }}/images/rabbit.png); background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center;font-size: 30px;color:white;">
                <div id='inner4' class='inner_class'>
                  4
                </div>
</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="padding: 0; padding-bottom: 0.5%; padding-left: 0px; width: 100%; height: 15%">
      <div style="display: table; height: 50%; width: 100%">
        <a id="btnconfirm" class="btns abut" style="height: 100%; text-decoration: none;background-image: url({{ assets }}/images/confirm.png); background-size: contain;background-position: center ;
background-repeat: no-repeat;text-align: center;font-size: 30px;color:white;" href="javascript:void(0);">Confirm!</a>
      </div>
    </div>
  </div>
  <div id="final" style="margin: 0px; height: 100%; width: 100%; background-color: rebeccapurple; display: none">
    <h1 style="text-align: center; margin-top:0px"><span style="background-color: #339966; color: #ffffff;border-radius: 15px;padding-right:5px;left:5px">Game 1 finish</span></h1>
    <p>&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <table style="height: 151px; border-color: #000000; background-color: aqua; margin-left: auto; margin-right: auto;" border="1" width="262" cellspacing="1" cellpadding="1">
      <caption>
        <strong>
          <span style="background-color: #E2FF6E; color: #ff0000;font-size:36;border-radius: 15px;padding-right:20px;padding-left:20px">result</span>
        </strong>
      </caption>
      <tbody>
        <tr>
          <td style="width: 124.5px; text-align: center;"><strong>Correct Choices:</strong></td>
          <td style="width: 124.5px;" id="corrCount">&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 124.5px; text-align: center;"><strong>Wrong Choices:</strong></td>
          <td style="width: 124.5px;" id="wrongCount">&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 124.5px; text-align: center;"><strong>Time Left:</strong></td>
          <td style="width: 124.5px;" id="timeLeft">&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 124.5px; text-align: center;"><strong>Final Score:</strong></td>
          <td style="width: 124.5px;" id="mark">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: center;">
      <button id="map_button" style="align: center; background: green; color: white;height:50px;width:300px;border-radius: 15px;font-size:20">
        &nbsp;
        <strong>
          Return to map
        </strong>
      </button>
    </p>
    <div id="loadingIcon" style="position: absolute; bottom: 0; right: 0; height: 7vh; width: 7vh;">
      <img src="https://media.tenor.com/5o2p0tH5LFQAAAAi/hug.gif" style="height: 100%; width: 100%; position: relative; display: block; float: left"/>
    </div>
  </div>
</div>

<script>
  window.pDone = false;
  $("#map_button").addClass("wrong");
  function myFunction() {
    document.getElementById("demo").innerHTML = "";
  }
  function chan(){
    if (document.documentElement.clientHeight / 3 > document.documentElement.clientWidth / 4){
      $("#container").css("width", "100vw");
      $("#container").css("height", (3/4*100) + "vw");
      $(".inner_class").css("width", "31vw");
    } else {
      $("#container").css("width", (4/3*100)+"vh");
      $("#container").css("height","100vh");
      $(".inner_class").css("width", "41vh");
    }
    var fs = Math.floor($(".inner_class").first().width()*5/60) - 1;
    if (fs < 0){
      fs = 1;
    }
    $(".inner_class").css("font-size", fs + "px");
  }
  var resizeObserver = new ResizeObserver(chan);
  resizeObserver.observe(document.body);
  chan();
  if ({{ cg }}){
      var v = $("<video muted>").append(
        $("<source>").prop("src", "{{ assets }}/video/Games/game1/game1cg.mp4")
      ).attr("id", "sv");
      if (document.documentElement.clientHeight / 9 > document.documentElement.clientWidth / 16){
        v.css("width", "90vw");
      } else {
        v.css("height", "90vh");
      }
      $("#container").append(v);
      v[0].play();
  }
  {% if cg=="true" %}
  v[0].addEventListener('ended', function (event){
    v.remove();
  {% endif %}
    window.pDone = true;
  {% if cg=="true" %}
  }, false);
  {% endif %}
</script>
{% endblock %}
